showcase/RAG_Pipeline___Chatbot.json
{
  "name": "RAG Pipeline & Chatbot",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "{{ RESOURCE_ID }}",
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/{{ RESOURCE_ID }}"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "{{ {{ RESOURCE_ID }} }}",
          "name": "{{ {{ RESOURCE_ID }} }}"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        220,
        0
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "Google Download",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "{{ {{ RESOURCE_ID }} }}",
          "name": "{{ {{ RESOURCE_ID }} }}"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-demo",
          "mode": "list",
          "cachedResultName": "n8n-demo"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        440,
        0
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "{{ {{ RESOURCE_ID }} }}",
          "name": "{{ {{ RESOURCE_ID }} }}"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        220
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "{{ OPENAIAPI_CREDENTIAL_ID }}",
          "name": "{{ {{ RESOURCE_ID }} }}"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.{{ RESOURCE_ID }}",
      "typeVersion": 1,
      "position": [
        580,
        220
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.{{ RESOURCE_ID }}",
      "typeVersion": 1,
      "position": [
        680,
        440
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1380,
        0
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        1120,
        0
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "When chat message received",
      "webhookId": "{{ WEBHOOK_ID }}"
    },
    {
      "parameters": {
        "model": "anthropic/claude-3.5-sonnet",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1420,
        220
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "{{ {{ RESOURCE_ID }} }}",
          "name": "{{ {{ RESOURCE_ID }} }}"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "faq_and_policy",
        "toolDescription": "Call this tool to access the FAQ database",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-demo",
          "mode": "list",
          "cachedResultName": "n8n-demo"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        1620,
        260
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "{{ {{ RESOURCE_ID }} }}",
          "name": "{{ {{ RESOURCE_ID }} }}"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1720,
        480
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "{{ OPENAIAPI_CREDENTIAL_ID }}",
          "name": "{{ {{ RESOURCE_ID }} }}"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1780,
        220
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Download": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "{{ VERSION_ID }}",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "{{ INSTANCE_ID }}"
  },
  "id": "0ea3eba2-444c-4658-901f-2a43dff6136e",
  "tags": []
}