showcase/Think_Agents.json
{
  "name": "Think Agents",
  "nodes": [
    {
      "parameters": {
        "options": {
          "systemMessage": "=# Overview\nYou are a helpful assistant.\n\n## Tool\nThink - Use this tool to think deeply"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -160,
        -280
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "Think Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -340,
        -280
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "When chat message received",
      "webhookId": "{{ WEBHOOK_ID }}"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        100,
        60
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "Think"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "{{ RESOURCE_ID }}",
          "mode": "list",
          "cachedResultName": "Claude 3.5 Sonnet (New)"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -200,
        60
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "Claude 3.5 Sonnet",
      "credentials": {
        "anthropicApi": {
          "id": "{{ {{ RESOURCE_ID }} }}",
          "name": "{{ {{ RESOURCE_ID }} }}"
        }
      }
    },
    {
      "parameters": {
        "content": "# Think",
        "height": 240,
        "width": 280,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        -40
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Models\n",
        "height": 240,
        "width": 420,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -440,
        -40
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Agent\n",
        "height": 320,
        "width": 720
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -440,
        -380
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -360,
        60
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "GPT 4.1",
      "credentials": {
        "openAiApi": {
          "id": "{{ OPENAIAPI_CREDENTIAL_ID }}",
          "name": "{{ {{ RESOURCE_ID }} }}"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        640,
        -160
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "GPT-4.1",
      "credentials": {
        "openAiApi": {
          "id": "{{ OPENAIAPI_CREDENTIAL_ID }}",
          "name": "{{ {{ RESOURCE_ID }} }}"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledge_base",
        "toolDescription": "Use this tool to access company policies and FAQs",
        "pineconeIndex": {
          "__rl": true,
          "value": "sample",
          "mode": "list",
          "cachedResultName": "sample"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        1120,
        -160
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "knowlege_base",
      "credentials": {
        "pineconeApi": {
          "id": "{{ {{ RESOURCE_ID }} }}",
          "name": "{{ {{ RESOURCE_ID }} }}"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1120,
        20
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "{{ OPENAIAPI_CREDENTIAL_ID }}",
          "name": "{{ {{ RESOURCE_ID }} }}"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ /*{{ RESOURCE_ID }}*/ $fromAI('To', ``, 'string') }}",
        "subject": "={{ /*{{ RESOURCE_ID }}*/ $fromAI('Subject', ``, 'string') }}",
        "emailType": "text",
        "message": "={{ /*{{ RESOURCE_ID }}*/ $fromAI('Message', `sign off emails as \"Nate\"`, 'string') }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmailTool",
      "typeVersion": 2.1,
      "position": [
        1420,
        -160
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "Send Email",
      "webhookId": "{{ WEBHOOK_ID }}",
      "credentials": {
        "gmailOAuth2": {
          "id": "{{ {{ RESOURCE_ID }} }}",
          "name": "{{ {{ RESOURCE_ID }} }}"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "{{ AIRTABLE_BASE_ID }}",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://airtable.com/{{ AIRTABLE_BASE_ID }}"
        },
        "table": {
          "__rl": true,
          "value": "{{ AIRTABLE_TABLE_ID }}",
          "mode": "list",
          "cachedResultName": "Contacts",
          "cachedResultUrl": "https://airtable.com/{{ AIRTABLE_BASE_ID }}/{{ AIRTABLE_TABLE_ID }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.1,
      "position": [
        1560,
        -160
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "Contacts",
      "credentials": {
        "airtableTokenApi": {
          "id": "{{ {{ RESOURCE_ID }} }}",
          "name": "{{ {{ RESOURCE_ID }} }}"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to search the web",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"query\": \"{searchTerm}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"basic\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 1,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"{{ RESOURCE_ID }}\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": []\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "searchTerm",
              "description": "What the user is requesting to search the web for"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        1720,
        -160
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "Web Search",
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{ {{ RESOURCE_ID }} }}",
          "name": "{{ {{ RESOURCE_ID }} }}"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        480,
        -160
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "2.0 Flash",
      "credentials": {
        "googlePalmApi": {
          "id": "{{ {{ RESOURCE_ID }} }}",
          "name": "{{ {{ RESOURCE_ID }} }}"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        980,
        -160
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "Think1"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=# Overview\nYou are a helpful assistant.\n\n## Tools\nThink - Use this tool to think deeply when you run into an issue before asking the user \nContacts - Use this tool to lookup contact information like an email address.\nSend Email - Use this tool to send an email\nWeb Search - Use this to search the internet. \nknowledge_base - Use this tool to lookup internal policies of FAQs\n\n## Instructions\n1) Call the neccessary tools based on the user request\n2) Use the \"Think\" tool to verify you took the right steps\n\n## Important\n- Never make up an email address. If you can't find it, think about what you should do."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        1000,
        -380
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "Think Agent1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "{{ RESOURCE_ID }}",
          "mode": "list",
          "cachedResultName": "Claude 3.5 Sonnet (New)"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        820,
        -160
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "Claude 3.5 Sonnet1",
      "credentials": {
        "anthropicApi": {
          "id": "{{ {{ RESOURCE_ID }} }}",
          "name": "{{ {{ RESOURCE_ID }} }}"
        }
      }
    },
    {
      "parameters": {
        "content": "# Example 2) Tool Calling",
        "height": 680,
        "width": 1620,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        340,
        -480
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Example 1) Riddles\n",
        "height": 80,
        "width": 720,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -440,
        -480
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "name": "quoter",
        "description": "Use this tool to get a quote. Send over the number of guests and the dates requested.",
        "workflowId": {
          "__rl": true,
          "value": "{{ SUB_WORKFLOW_ID }}",
          "mode": "list",
          "cachedResultName": "{{ SUB_WORKFLOW_NAME }}"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        2700,
        -40
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "quoter"
    },
    {
      "parameters": {
        "name": "availability",
        "description": "Call this tool to get availability information. Only send over the dates the user requested.",
        "workflowId": {
          "__rl": true,
          "value": "{{ SUB_WORKFLOW_ID }}",
          "mode": "list",
          "cachedResultName": "{{ SUB_WORKFLOW_NAME }}"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        2840,
        -40
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "availability"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        2420,
        -60
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "GPT-4.",
      "credentials": {
        "openAiApi": {
          "id": "{{ OPENAIAPI_CREDENTIAL_ID }}",
          "name": "{{ {{ RESOURCE_ID }} }}"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=# Overview\nYou are a helpful assistant.\n\n## Instructions\n1) Send the requested dates to the availability tool\n2) Send the requested dates and number of guests to the quoter tool\n3) Use the think tool to verify everything has been done correctly. There should be a quote and an availability status\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        2180,
        -300
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "Think Agent2"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2120,
        -60
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "2.0 Flash1",
      "credentials": {
        "googlePalmApi": {
          "id": "{{ {{ RESOURCE_ID }} }}",
          "name": "{{ {{ RESOURCE_ID }} }}"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "{{ RESOURCE_ID }}",
          "mode": "list",
          "cachedResultName": "Claude 3.5 Sonnet (New)"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        2280,
        -60
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "Claude 3.5 Sonnet2",
      "credentials": {
        "anthropicApi": {
          "id": "{{ {{ RESOURCE_ID }} }}",
          "name": "{{ {{ RESOURCE_ID }} }}"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        3080,
        -40
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "Think2"
    },
    {
      "parameters": {
        "content": "# Tools\n",
        "height": 220,
        "width": 340,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2640,
        -120
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "# Think",
        "height": 220,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3000,
        -120
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "# Models\n",
        "height": 220,
        "width": 600
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2020,
        -120
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "# Think Agent\n",
        "height": 240,
        "width": 600,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2020,
        -380
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "content": "# Example 3) Sub-workflows\n",
        "height": 80,
        "width": 600,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2020,
        -480
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        2080,
        220
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "GPT-4.1-NANO"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.query }}"
            },
            {
              "content": "Based on the incoming information, please provide a quote.\n\nThe quote should be $500 per person, per day.",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2320,
        220
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "Quoter",
      "credentials": {
        "openAiApi": {
          "id": "{{ OPENAIAPI_CREDENTIAL_ID }}",
          "name": "{{ {{ RESOURCE_ID }} }}"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-nano",
          "mode": "list",
          "cachedResultName": "GPT-4.1-NANO"
        },
        "messages": {
          "values": [
            {
              "content": "={{ $json.query }}"
            },
            {
              "content": "Based on the incoming information, please provide availability.\n\nAssume that all dates are currently available.",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2340,
        500
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "Availability",
      "credentials": {
        "openAiApi": {
          "id": "{{ OPENAIAPI_CREDENTIAL_ID }}",
          "name": "{{ {{ RESOURCE_ID }} }}"
        }
      }
    },
    {
      "parameters": {
        "content": "## Quoter",
        "height": 280,
        "width": 660,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2020,
        120
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "## Availability",
        "height": 280,
        "width": 660,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2020,
        420
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "content": "# \ud83d\udee0\ufe0f Setup Guide  \n**Author:** [Nate Herk](https://www.youtube.com/@nateherk)\n\n1. **Connect the Chat Trigger**  \n   Plug the Chat Trigger into whichever agent you want to use.\n\n2. **Assign the Correct Model**  \n   Ensure you're using the correct chat model for the agent. Double-check which model is being passed into the agent node.\n\n3. **Add Credentials**  \n   Make sure all relevant credentials are configured:\n   - Your chat models (e.g. OpenAI, Claude, etc.)\n   - Any external tools or services used by the agent\n\n4. **Sub-Workflows Setup**  \n   For sub-workflows like **Quoter** and **Availability**:\n   - Each should be placed in its **own separate workflow**\n   - Each must begin with a **\"When Executed by Another Workflow\"** trigger node\n   - Use the same pattern shown in the template (e.g. how the Quoter is triggered)\n\n\u2705 Once everything is connected and credentialed properly, you\u2019re good to go!\n",
        "height": 520,
        "width": 600
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -440,
        -1040
      ],
      "id": "{{ RESOURCE_ID }}",
      "name": "Sticky Note12"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Think Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Think Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Claude 3.5 Sonnet": {
      "ai_languageModel": [
        []
      ]
    },
    "GPT 4.1": {
      "ai_languageModel": [
        [
          {
            "node": "Think Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "knowlege_base": {
      "ai_tool": [
        [
          {
            "node": "Think Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "knowlege_base",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "ai_tool": [
        [
          {
            "node": "Think Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Contacts": {
      "ai_tool": [
        [
          {
            "node": "Think Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Web Search": {
      "ai_tool": [
        [
          {
            "node": "Think Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think1": {
      "ai_tool": [
        [
          {
            "node": "Think Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Claude 3.5 Sonnet1": {
      "ai_languageModel": [
        [
          {
            "node": "Think Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "quoter": {
      "ai_tool": [
        [
          {
            "node": "Think Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "availability": {
      "ai_tool": [
        [
          {
            "node": "Think Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4.": {
      "ai_languageModel": [
        [
          {
            "node": "Think Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Think2": {
      "ai_tool": [
        [
          {
            "node": "Think Agent2",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Quoter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "{{ VERSION_ID }}",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "{{ INSTANCE_ID }}"
  },
  "id": "48f35577-8361-41c3-b370-287289257732",
  "tags": []
}